<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pubg.codexpatcher">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:requestLegacyExternalStorage="true"
        android:icon="@drawable/codex"
        android:label="@string/app_name"
        android:roundIcon="@drawable/codex"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">


        <activity android:name="com.pubg.codexpatcher.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pubg.codexpatcher.MainActivity"/>
    </application>

</manifest>